.br {
	float: left; 
	width: 100%; 
	margin: 0 0 20px 0; /* отступ после строки 20 пикселей */ 
} 
.head {
    display: inline-block; /* Строчно-блочные элементы */
    margin-right: 3px; /* Расстояние между пунктами меню */
}
